.orders {
  position: relative;
}
.orders-table {
  width: 100%;
  border-collapse: unset;
  min-width: 1000px;
}
.orders-table__wrapper {
  overflow-x: auto;
  border-radius: 15px;
}
.orders-table__head-row-cell {
  font-weight: 600;
  padding: 14px 5px;
}
th {
  background: #496791;
  color: #fff;
}
td {
  background: #d0dcf5;
  text-align: center;
}
td,
th {
  padding: 5px 10px;
  vertical-align: top;
}
.orders-table__body-row:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #496791;
}
.orders-table__body-row-cell {
  background-color: #fff;
  padding: 14px 5px;
}
.orders-table__body-row-cell-dishes:not(:last-child)::after {
  display: inline;
  content: ", ";
}
.orders-table__body-row-cell_cancel {
  background-color: lightsalmon;
}
.orders-table__body-row-cell_ok {
  background-color: rgb(154, 240, 154);
}
.orders-table__body-row-cell_wait {
  background-color: lightgoldenrodyellow;
  /* border: red 3px solid; */
}
.orders-popup {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -30%);
}
